<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Post</title>
</head>
<body>
    <a href="/">Main page</a>
    <h1>Send an email</h1>
    <form action="#" th:action="@{/send}" th:object="${send}" method="post">
        <p>To: <input type="email" th:field="*{to}"/></p>
        <p>Subject: <input type="text" th:field="*{subject}"/></p>
        <p>Text: <input type="text" th:field="*{text}"/></p>
        <p><input type="submit" value="Send"/></p>
    </form>
</body>
</html>